{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 highlight-container">
    <h1 class="highlight-title text-primary mb-4">About Me</h1>

    <p class="lead text-center">Hello! My name is Yusein Ali, and I'm 33 years old.</p>

    <h3 class="custom-header">My Life Journey</h3>
    <p>I was born in Bulgaria, in the beautiful city of Burgas. In 2001, I moved with my parents to Spain, where I
        completed my secondary education and lived with them until 2010. Following that, I ventured to Turkey for a
        couple of months to pursue my passion for football.</p>

    <p>After my time in Turkey, I returned to Bulgaria, where I played football for three years. In 2013, I took a
        significant step in my life by moving to Luxembourg. I lived there and continued to play football until 2023,
        when my wife and I decided to relocate to Sweden.</p>

    <h3 class="custom-header">A Bit About Me</h3>
    <p>I have a border collie named Molly, who brings joy and energy into our lives. I’m multilingual, speaking
        Bulgarian, Spanish, French, English, Turkish, Italian, Portuguese, and Luxembourgish, and I am currently
        learning Swedish.</p>

    <h3 class="custom-header">My Passion for Technology</h3>
    <p>Since childhood, I’ve always been fascinated by computers, programming, and everything surrounding technology. In
        2023, I decided to embark on a new journey by enrolling in an online school, Code Institute, to enhance my
        programming skills.</p>

    <h3 class="custom-header">About This Forum</h3>
    <p>This discussion forum is my fourth project out of a total of five that I have pursued through Code Institute. The
        idea for the Discussion Room Forum was inspired by a popular Spanish forum called Forocoches.com, which is one
        of the largest forum sites in Spain. It became a go-to place for me during tough days, as it provided a space
        where I could read jokes and funny posts that always brought me laughter and positivity.</p>

    <p class="mt-4">Thank you for visiting my forum. I hope you find a welcoming space here to share and explore ideas
        with others!</p>
</div>
{% endblock content %}