{% extends 'base.html' %}
<!-- Welcome page for the forum outlining its purpose, community guidelines, and invitation to engage -->
{% block content %}
<div class="container highlight-container mt-5">
    <h1 class="highlight-title custom-primary mb-4">Welcome to Our Forum!</h1>

    <p>This forum was created as a space for individuals who enjoy discussing a wide range of topics. Whether you're
        passionate about technology, arts, culture, politics, or just want to share your thoughts on everyday life, you
        are welcome here!</p>

    <p>Everyone is free to post and ask questions on any subject matter. However, we ask that all participants engage
        with kindness, respect, and consideration towards others. A community thrives on mutual respect, and we believe
        that each member's voice matters.</p>

    <h2 class="highlight-title">Community Guidelines:</h2>
    <ul>
        <li>Always be polite and respectful in your interactions.</li>
        <li>Disagreement is natural, but it should be expressed constructively.</li>
        <li>Bullying, harassment, or any form of disrespect towards other users will not be tolerated.</li>
    </ul>

    <h2 class="highlight-title">Join the Conversation:</h2>
    <p>In our forum, you'll find countless opportunities to Learn, Share, and Connect. Engage with ideas that challenge
        your perspectives and encourage growth. Every post contributes to a tapestry of knowledge, and your insights
        could help others see the world in a new light.</p>

    <p>Our diverse community brings together individuals from various backgrounds, offering a wealth of experiences and
        viewpoints. We encourage you to share your stories, ask questions, and contribute to lively discussions.
        Together, we can create a vibrant and supportive space that fosters open dialogue and mutual understanding.</p>

    <h2 class="highlight-title">Final Note:</h2>
    <p>Please note, anyone who violates these community guidelines will be subject to immediate expulsion from the
        forum, and their account will be banned from the website. Our goal is to create a welcoming environment where
        everyone can contribute openly, so let’s work together to maintain a positive space.</p>

    <p class="text-center"><strong>Thank you for being a part of our community!</strong></p>
</div>
{% endblock content%}