{% extends 'base.html' %}

<!-- Thank You page expressing gratitude to Code Institute, tutors, mentor, and GitHub for support in project development -->
{% block content %}
<div class="container mt-5 highlight-container">
    <h1 class="highlight-title text-primary mb-4">Thank You!</h1>
    <p class="lead">I want to extend my heartfelt gratitude to Code Institute for making this project a reality. Thanks
        to them, I had all the necessary resources and support to build my project and pursue my passion for web
        development.</p>

    <p class="lead">Special thanks to all the tutors who were always there to lend a hand whenever I needed help. Your
        expertise and guidance made a significant difference in my learning journey.</p>

    <p class="lead">A special thank you to my amazing mentor, Iuliia Konovalova, for your unwavering support and
        mentorship. Your encouragement and insights helped me navigate through challenges and stay motivated.</p>

    <p class="lead">I would also like to thank the GitHub team for providing an incredible platform that enabled me to
        collaborate and develop my project effectively.</p>

    <p class="mt-4"><strong>Thank you all!</strong></p>
    <p class="mt-2">For more information about Code Institute, visit their website: <a href="https://codeinstitute.net/"
            target="_blank" class="text-info">Code Institute</a></p>
</div>
{% endblock content %}