{% extends 'base.html' %}
{% block content %}
<article class="media content-section my-4 p-3 border bg-light rounded shadow-sm">
    <img class="rounded-circle article-img" src="{{ object.author.account.avatar.url }}" alt="Author's Profile Picture">
    <div class="media-body ml-3">
        <div class="article-metadata">
            <h5 class="article-author">
                <a href="#">{{ object.author.username }}</a> <!-- Assuming 'username' is displayed -->
            </h5>
            <small class="text-muted">{{ object.date_posted|date:"F j, Y" }}</small>
        </div>

        <h2><a class="article-title" href="{% url 'blog-detail' object.id %}">{{ object.title }}</a></h2>
        <p class="article-content">{{ object.content }}</p>

        {% if object.author == user %}
        <div class="btn-group mt-3">
            <a class="btn btn-outline-primary" href="{% url 'blog-update' object.id %}">Edit</a>
            <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Remove</a>
        </div>
        {% endif %}
    </div>
</article>
{% endblock content %}