{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <!-- Support and collaboration form allowing users to submit inquiries -->
    <h1 class="text-center custom-primary">Support & Collaboration</h1>
    <p class="lead text-center text-switch">For any collaboration, support inquiries, or if you're having any issues,
        please contact
        us here.</p>

    <form method="post">
        {% csrf_token %}
        {{ collaborate_form|crispy }}
        <!-- Use crispy forms for styling -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}