{% extends 'base.html' %}
{% block content %}
<hr>
{% for article in articles %}
<article class="media content-section">
    <!-- Assuming 'profile' is an attribute of 'author' that contains an image -->
    <img class="rounded-circle article-img" src="{{ article.author.profile.image.url }}" alt="Profile Picture">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ article.author }}</a> <!-- Use 'article' variable -->
            <small class="text-muted">{{ article.date_posted }}</small> <!-- Use 'article' variable -->
        </div>
        <h2><a class="article-title" href="{% url 'blog-detail' article.id %}">{{ article.title }}</a></h2>
        <!-- Use 'article' variable -->
        <p class="article-content">{{ article.content|truncatewords:30 }}</p> <!-- Use 'article' variable -->
    </div>
    <br>
</article>
{% endfor %}
{% endblock content %}