{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="content-section p-4 rounded shadow-sm content-border">
        <h3 class="text-center text-switch">Enter New Password</h3>
        <p class="text-switch">Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form method="post">
            {% csrf_token %}
            {{form}}
            <div>
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}