{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Choose a New Password</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_new_password1">New Password:</label>
            <input type="password" name="new_password1" id="id_new_password1" required>
        </div>
        <div>
            <label for="id_new_password2">Confirm New Password:</label>
            <input type="password" name="new_password2" id="id_new_password2" required>
        </div>
        <button type="submit">Change my password</button>
    </form>
{% endblock %}