{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="content-section p-4 rounded shadow-sm content-border">
        <h2 class="highlight-title text-center mb-4 text-primary">Reset Your Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" id="id_email" class="form-control" required>
            </div>
            <button type="submit" class="btn">Send Email</button>
        </form>
    </div>
</div>
{% endblock content %}