{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="registration-section">
    <!-- Form for user registration to create a new account -->
    <form method="post" class="p-4 rounded shadow-sm">
        {% csrf_token %}
        <!-- CSRF token for form security -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 login-title">Create Your Account</legend>
            {{ form|crispy }}
            <!-- Use Crispy Forms for rendering -->
        </fieldset>
        <div class="form-group mt-3">
            <button class="btn btn-block" type="submit" aria-label="Register a new account">Register
                Now</button>
        </div>
    </form>
    <div class="mt-3 text-center">
        <small class="text-switch">Have an account already? <a href="{% url 'login' %}" class="text-info"
                aria-label="Log in to your account">Log
                In</a></small>
    </div>
</div>
{% endblock content %}