<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Metadata for SEO and page information -->
    <meta name="description"
        content="Discussion Room - A vibrant forum for engaging discussions, sharing knowledge, and connecting with others. Join our community!">
    <meta name="keywords" content="forum, discussion, community, knowledge sharing, engagement, topics, conversations">
    <meta name="author" content="Yusein Ali">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/head.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon.png' %}">

    <title>{% block title %}Discussion Room{% endblock %}</title>
</head>

<!--Body Section-->

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md fixed-top navbar-custom">
            <!-- Dark blue color -->
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="d-flex w-100 align-items-center">
                        <!-- Left Side: Discussion Room -->
                        <div class="mr-auto d-flex align-items-center">
                            <a class="discussion-room" href="{% url 'welcome' %}"
                                aria-label="Go to the Discussion Room">Discussion Room</a>
                            <!-- Welcome Message on the Left -->
                            {% if user.is_authenticated %}
                            <div class="navbar-text welcome-message">
                                Welcome, {{ request.user.username }}!
                            </div>
                            {% endif %}
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="{% url 'welcome' %}" id="auth-links-home"
                                aria-label="Go to home page">Home</a>
                            <a class="nav-item nav-link" href="{% url 'about' %}" id="auth-links-about"
                                aria-label="Learn more about us">About Us</a>
                            {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'blog-new' %}" id="auth-links-create"
                                aria-label="Create a new blog post">Create Post</a>
                            <a class="nav-item nav-link" href="{% url 'account' %}" id="auth-links-account"
                                aria-label="View your account settings">Account</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}" id="auth-links-logout"
                                aria-label="Logout of your account">Logout</a>
                            <a class="nav-item nav-link" href="{% url 'notifications' %}" id="auth-links-notifications"
                                aria-label="View your notifications">
                                Notification
                                <i class="fas fa-bell {% if request.user.is_authenticated and unread_count > 0 %}visible{% else %}hidden{% endif %}"></i>
                            </a>
                            {% else %}
                            <a class=" nav-item nav-link" href="{% url 'login' %}" id="auth-links-login"
                                aria-label="Login to your account">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}" id="auth-links-register"
                                aria-label="Register a new account">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--Main Section-->
    <main class="container">
        <!-- Message Display Area -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
        <div class="row">
            <!-- Main Content Area for Posts -->

            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <!-- Trendin Topics Bar -->
            {% if request.path == '/' or 'post/' in request.path %}
            <div class="col-md-4">
                <div class="content-section mt-4">
                    <!--Categories-->
                    <div class="category-links mb-3">
                        <h4 class="text-center text-switch">Categories</h4>
                        <a href="/?category=cinema{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                            class="btn btn-link btn-custom-large"
                            aria-label="Filter posts by Cinema category">Cinema</a>
                        <a href="/?category=random%20post{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                            class="btn btn-link btn-custom-large"
                            aria-label="Filter posts by Random Post category">Random Post</a>
                        <a href="/?category=sport{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                            class="btn btn-link btn-custom-large" aria-label="Filter posts by Sports category">Sport</a>
                        <a href="/?category=cars{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                            class="btn btn-link btn-custom-large" aria-label="Filter posts by Cars category">Cars</a>
                    </div>
                    <!-- Trending Posts Section -->
                    <div class="d-flex flex-column align-items-start bg-light p-3">
                        <a id="latest-gist-1" class="d-flex align-items-center mb-3 text-primary"
                            aria-label="View trending posts">
                            <span class="fs-5 font-weight-bold">Trending Posts</span>
                        </a>
                        <div class="list-group list-group-flush trending-title">
                            {% for post in trending_posts %}
                            <a href="{% url 'blog-detail' post.id %}"
                                class="list-group-item list-group-item-action trending-title"
                                aria-label="Read details about {{ post.title }}">
                                <div class="d-flex justify-content-between">
                                    <strong class="trending-title mb-1">{{ post.title }}</strong>
                                    <small class="trending-title">{{ post.date_posted|date:"F d, Y" }}</small>
                                </div>
                                <p class="mb-1 small">{{ post.content|truncatewords:15 }}</p>
                            </a>
                            {% empty %}
                            <p class="text-trending">No trending posts available.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Advertisement Section Below Trending Posts -->
                <div class="content-section mt-3">
                    <div class="d-flex flex-column align-items-start bg-light p-3">
                        <a  href="https://codeinstitute.net" target="_blank" id="latest-gist-2" class="d-flex align-items-center mb-3 text-primary"
                            aria-label="Visit Code Institute to learn coding">
                            <span class="fs-5 font-weight-bold">Advertisement</span>
                        </a>
                        <div class="list-group list-group-flush">
                            <a href="https://codeinstitute.net" target="_blank"
                                aria-label="Visit Code Institute to learn coding">
                                <img src="https://fitefuaite.com/wp-content/uploads/2020/05/code-institute.png"
                                    alt="Learn to code with Code Institute!" class="image-style">
                            </a>
                            <div class="mt-3">
                                <p>
                                    <a href="https://codeinstitute.net" target="_blank" class="link-custom"
                                        aria-label="Learn coding with Code Institute's online courses">
                                        Learn to code with Code Institute! Get started today with our online
                                        courses.
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
    <!--Footer Section-->
    <footer class="site-footer mt-4">
        <div class="container">
            <nav class="nav justify-content-center border-top nav-padding-top">
                <!-- Adding classes for margin on nav items -->
                <div class="nav-item nav-item-margin">
                    <a href="/highlights/" class="nav-link px-2 text-secondary" aria-label="View highlights of the discussions">Highlights</a>
                </div>
                <div class="nav-item nav-item-margin">
                    <a href="/admin/" class="nav-link px-2 text-secondary" target="_blank" aria-label="Access the control panel">Control Panel</a>
                </div>
                <div class="nav-item nav-item-margin">
                    <a href="/support-and-collaboration/" class="nav-link px-2 text-secondary" aria-label="Get support and collaboration information">Support</a>
                </div>
                <div class="nav-item">
                    <a href="/about-me/" class="nav-link px-2 text-secondary" aria-label="Learn more about me">About Me</a>
                </div>
            </nav>
            <!--Dark Modd-->
            <div class="toggle-switch">
                <label class="switch">
                    <input type="checkbox" id="theme-toggle">
                    <span class="slider round"></span>
                </label>
                <span id="theme-label" class="theme-label">Dark Mode</span>
            </div>
            <!-- Add some padding and margin to the bottom of the footer -->
            <p class="text-center text-secondary mt-3">&copy; 2024 Discussion Hub. All Rights Reserved.</p>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/theme-toggle.js' %}"></script>
</body>

</html>